@tailwind base;
@tailwind components;
@tailwind utilities;


body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.full-screen-div {
    width: 100vw;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.notification-body {
    width: 20rem !important;
}